venv
venv372
/.idea
build
dist
/*.xml
/.idea/
__pycache__
.pytest_cache
/src/__pycache__
/src/config/__pycache__
/src/config/config.py
/input_step1/*
!/input_step1/.keep
/output_step1/*
!/output_step1/.keep
/output_step2/*
!/output_step2/.keep
/output_step3/*
!/output_step3/.keep
